<div *ngFor="let categories of category">
  <div class="section p-2 mb-1">
    <div class="row">
      <!-- <div style="width: 20%;" >
        <mat-grid-list cols="1"  class="products-header">
          <mat-grid-tile>
            <div class="cards">
              <a href="#">
                <div class="text">
                  <h1>{{ categories.name }}</h1>
                  <a routerLink="/main-categories/{{ categories.id }}" class="view-all">View All</a>
                </div>
              </a>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div> -->
      <!-- <div
        class="col-md-2 my-1"
        *ngFor="let subcategories of categories.subCategories.slice(0, 5)"
      >
        <mat-grid-list cols="1" rowHeight="1:1">
          <mat-grid-tile>
            <div class="cards">
              <a href="#">
                <img
                  class="product-img"
                  src="{{ subcategories.img }}"
                  alt="{{ subcategories.name }}"
                />
                <div class="info">
                  <p style="font-weight: bold">
                    {{ subcategories.name | titlecase }}
                  </p>
                  <p style="color: #388e3c">{{ subcategories.highlightMsg }}</p>
                </div>
              </a>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div> -->
      <div class="pl-2 pb-0 my-1" style="width: 20%;text-align:center;align-items:center;vertical-align:middle">
        <a class="p-0" routerLink="/main-categories/{{ categories._id }}">
          <div class="cat-header">
            <img class="category-img rounded" src="../../../{{categories.image}}" alt="img" />
            <p class="cate-title mt-0">{{ categories.name }}</p>
            <a routerLink="/main-categories/{{ categories._id }}" class="view-all">View All</a>
          </div>
        </a>
      </div>
      <div class="px-1 pb-0 my-1" style="width: 16%;" *ngFor="let subcategories of categories.subCategories.slice(0, 5)">
        <div class="cards">
          <a (click)="onSubcate(categories.name,subcategories._id)" routerLink="/products/{{categories.name}}/{{subcategories._id}}">
            <img class="product-img" src="../../../{{ subcategories.image }}" alt="{{ subcategories.name }}" />
            <div class="info">
              <p class="product-heading">
                {{ subcategories.name | titlecase }}
              </p>
              <p class="subcate-headline">{{ subcategories.highlightMsg }}</p>
              <!-- <p>{{ "1999" | currency : "INR" }}</p> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
