.main-row {
  background-color: #fff;
  width: 100%;
}

.cate-title {
  align-items: center;
  border-width: 0px;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  min-height: 72px;
  min-width: 0px;
  position: relative;
  z-index: 0;
  display: flex;
  padding: 16px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

.title {
  border-width: 0px;
  box-sizing: border-box;
  display: inline;
  white-space: nowrap;
  overflow-wrap: normal;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -.02px;
}

.subcate {
  justify-content: space-evenly;
}

.arrow {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
  border-width: 0px;
  min-height: 0px;
  min-width: 0px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  border-radius: 42px;
  background-color: #FF4081;
}

.card {
  width: 250px;
  height: auto;
  padding-top: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
}

.product-img {
  padding: 2px;
  text-decoration: none;
  color: inherit;
  border: none;
  height: 12rem;
  width: 100%;
  transition: transform .2s;
  object-fit: contain;
}

.product-img:hover {
  transform: scale(1.06);
}


.info {
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 7pt;
}



.product-heading {
  font-weight: 700;
  font-size: 14px;
}

.subcate-headline {
  color: #388e3c;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .cate-title {
    padding: 12px;
    margin: 0px;
  }

  .card {
    width: 50%;
  }
  .product-img
  {
    height: 8rem;
  }

}
