.section{
  /* box-shadow: 0 5px 9px 0 rgba(0,0,0,.08); */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  background-color: #fff;
  border-radius: 2px;
 }

.cards
{
  /* padding: 25px 15px; */
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-height: 366px;
  text-align: center;
  background: transparent;
}

a,.product-img{
  text-decoration: none;
  color: inherit;
  border: none;
  height: 8rem;
  width: auto;
  transition: transform .2s;
}

.product-img:hover{
  transform: scale(1.2);
}

a{
  cursor: pointer;
}

.info
{
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 7pt;
}


.background {
  position: relative;
  /* background-image: url('../../../assets/images/banner/fruits.jpg'); */
  background-size: cover;
  width: 100%;
  height: 400px;
  filter: blur(5px);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.view-all {
  padding: 12px 15px;
  border: unset;
  border-radius: 5px;
  color: white;
  z-index: 1;
  background: crimson;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }

 .view-all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  /* background-color: #212121; */
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }

 .view-all:hover {
  color: #e8e8e8;
  background-color: #212121;
 }

 .view-all:hover::before {
  width: 100%;
 }

