<div *ngIf="category" >
  <div class="row">
    <div class="col-md-12">
    <div class="heading">{{ category.name }}</div>
    <div class="pcount">{{ subCategories.length }} Items</div>
  </div>
</div>
<div class="p-2 pt-2">
  <div class="row">
    <div class="col-md-3 mt-5" *ngFor="let subcategory of subCategories" (click)="onSubcategory(category.name,subcategory.id)" >
      <img src="{{subcategory.img}}" alt="{{subcategory.name}}" class="product-img">
      <div class="info">
        <p style="font-weight: bold">
          {{ subcategory.name | titlecase }}
        </p>
        <p style="color: #388e3c">{{ subcategory.highlightMsg }}</p>
      </div>
    </div>
  </div>
</div>
</div>
<br />
<br /><br />
