<div class="row bg-white pt-2" >
  <div class="col-md-2">
    <mat-grid-list cols="1" rowHeight="1:1" class="products-header">
      <mat-grid-tile>
        <div class="cards">
          <div class="background"></div>
          <a href="#">
            <div class="text">
              <h1> Best of Electonics</h1>
              <!-- <button routerLink="/home" >View All</button> -->
              <a routerLink="/home" class="view-all">View All</a>

            </div>
          </a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="col-md-2 my-1" *ngFor="let product of products">
    <mat-grid-list cols="1" rowHeight="1:1">
      <mat-grid-tile>
        <div class="cards">
          <a href="#">
            <img
              class="product-img"
              src="{{ product.img }}"
              alt="{{ product.title }}"
            />
            <div class="info">
              <p style="font-weight: bold">{{ product.title |titlecase }}</p>
              <p style="color: #388e3c">{{ product.highlight }}</p>
              <p>{{ product.price |currency:'INR' }}</p>
            </div>
          </a>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
