<div class="row p-0 m-0">
  <div class="col-md-2 p-1">
    <div class="section">
      <div class="row">
        <div class="col-md-12 m-0 p-0" *ngIf="isMobile" >
          <mat-accordion>
            <mat-expansion-panel [expanded]="panelOpenState?'true':'false'" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Categories
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="col-md-12 a-sorting mb-3"  *ngFor="let categories of category; let i = index">
                <a
                (click)="onChangeCategory(categories._id)"
                class="side-nav-item"
                [ngClass]="{ highlighted: currentCate === categories._id }"
              >
                {{ categories.name }}
              </a>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-md-12" *ngIf="!isMobile">
          <mat-list>
            <mat-list-item *ngFor="let categories of category; let i = index">
              <a
                (click)="onChangeCategory(categories._id)"
                class="side-nav-item"
                [ngClass]="{ highlighted: currentCate === categories._id }"
              >
                {{ categories.name }}
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 p-0">
    <div class="section">
      <div class="row">
        <div class="col-md-12">
          <!-- <router-outlet></router-outlet> -->
          <app-subcategories ></app-subcategories>
        </div>
      </div>
    </div>
  </div>
</div>
