.heading
{
  font-weight: 500;
  font-size: 21px;
  border-bottom: 1px dotted gray;
  padding-bottom: 10px!important;
}


.sub-heading
{
  /* display: flex;
  align-items: center; */
  margin: 30px 0px;
}

.name{
  font-size: 18px;
  font-weight: 500;
}

.btn1{
  width: 80%;
}

.edit{
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
}
.edit {
  font-size: 14px;
  font-weight: 500;
  color: #2874f0;
  cursor: pointer;
  padding-left: 20px;
  align-items: center;
  display: flex;
}

.delete{
  color: red;
  cursor: pointer;
  padding:30px ;
  font-weight: 500;
  border-top: 1px dotted gray;
}


@media only screen and (max-width:900px)
{
  .col-md-12
  {
    padding: 0px;
  }
  .col-md-2
  {
    width: 20%;
    padding: 0px;
  }
  .col-md-5
  {
    padding: 0px;
  }

  .name
  {
    font-size: 14px;
  }

  .email
  {
    width: 70%;
  }
  .edit-section
  {
    width: 10%;
  }

  .edit
  {
    padding-left: 5px;
  }

  .col-md-6
  {
    width: 50%;
    padding: 0px;
  }

  .delete{
    padding: 30px;
  }
}
