<aside class="control-sidebar control-sidebar-light">
  <br> <!-- Control sidebar content goes here -->

  <div class="container d-flex justify-content-center">
      <div class=" image d-flex flex-column justify-content-center align-items-center">
          <button class="btn btn-secondary">
              <img src="../../../../assets/img/avatar5.png" height="100" width="100" /></button>
          <span class="name mt-3">Admin </span> <span class="idd">sdsdd</span>
          <!-- <div class="d-flex flex-row justify-content-center align-items-center mt-3">
         <span class="number">1069 <span class="follow">Followers</span></span>
       </div> -->
          <br>
          <!-- <button style="margin-bottom: 10px;" type="button" class="btn rounded-pill btn-sm btn-round btn-outline-primary"
       data-toggle="modal" data-target="#editProfile"  data-whatever="@getbootstrap">Edit Profile</button> -->
          <!-- <button style="margin-bottom: 10px;" type="button"
              class="btn rounded-pill btn-sm btn-round btn-outline-primary" data-toggle="modal"
              data-target="#changePasswordModal" data-whatever="@getbootstrap">Change Password</button> -->
          <button style="margin-bottom: 10px;" type="button"
              class="btn  rounded-pill btn-sm btn-round btn-outline-primary">Logout</button>
      </div>
  </div>
</aside>
