<!-- <app-brands></app-brands> -->
<div class="row p-0 m-0">
  <div class="col-md-2 p-2" >
    <div class="section">
      <div class="row">
        <div class="col-md-12">
          <div class="pcount">{{ totalProducts }} Products found </div>
        </div>
      </div>
      <hr class="my-1 p-0">
      <div class="row" *ngIf="totalProducts>0" >
        <div class="col-md-12">
          <p style="font-weight: bold;
          font-size: large;">Sort By</p>
        </div>
        <div class="col-md-12 a-sorting mb-3"  *ngFor="let sorting of sortingMethods" >
          <div [ngClass]="{highlighted: currSort==sorting.value}" >
            <a  (click)="onSort(sorting.value)" >{{sorting.name}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 p-1">
    <app-products-list></app-products-list>
  </div>
</div>
