.section {
  box-shadow: 0 5px 9px 0 rgba(0,0,0,.08);
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
  background-color: #fff;
  border-radius: 2px;
  /* padding: 32px; */
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
  height: auto;
}


.pcount {
  margin-top: 8px;
  opacity: .5;
}

a{
  cursor: pointer;
}

.a-sorting{
  margin-bottom: 3px;
}

.highlighted {
  color: crimson;
  font-weight: bold;
}

@media only screen and (max-width:1000px)
{
  .pcount {
    font-size: 14px;
    margin-top: 4px;
    opacity: .5;
  }

  .options
  {
    justify-content: space-evenly;
    display: inline-flex;
  }

  .mw-100{
    width: 46%!important;
    margin: 0px!important;

  }

  .col-md-10,.col-md-6,.col-md-2,.col-md-12
  {
    padding: 0px!important;
  }

}
