<section class="gradient-custom ">
  <div class="container py-2">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Login</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input formControlName="email" type="email" class="form-control form-control-lg"
                      placeholder="Email" />
                  </div>
                  <span *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email']?.touched"
                    class="error px-1">Please Enter valid email.</span>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input formControlName="password" type="password" class="form-control form-control-lg"
                      placeholder="Password" minlength="4" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input [disabled]="!loginForm.valid" [ngClass]="!loginForm.valid?'grayButton':'crimsonButton'" class="btn btn-primary form-control form-control-lg"
                    type="submit" value="Login" />
                </div>
                <div class="col-md-6 login ">
                  <a routerLink="/user/signup" style="color: black;">Don't have an account <span
                      style="color: blue;">Create Here</span> </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
