body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #81D4FA;
  background-repeat: no-repeat;
}

.card {
  width: 32%;
  padding: 30px;
  box-shadow: 0px 8px 16px 0px #d2d4d5;
  max-width: 511px;
}

.card0 {
  width: 100%;
  padding-right: 30px;
  box-shadow: none;
}

.card1 {
  background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)), url("https://i.imgur.com/AMBgumm.jpg");
  min-height: 600px;
}

.btn-yellow {
  border: 2px solid #F9A825;
  background-color: #F9A825;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-yellow:hover {
  background-color: #F57F17;
  border: 2px solid #F57F17;
}

.btn-inverse {
  border: 2px solid #F9A825;
  background-color: transparent;
  color: #F9A825;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-inverse:hover {
  background-color: #F57F17;
  color: #fff;
  border: 2px solid #F57F17;
}

::placeholder {
  color: #E0E0E0;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #E0E0E0;
}

::-ms-input-placeholder {
  color: #E0E0E0;
}

a:hover {
  color: inherit;
}

.text-sm {
  font-size: 14px;
}

.text-dim {
  color: #BDBDBD;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1056px) {
  .card {
      width: 100%;
  }

  .align {
      justify-content: center !important;
  }
}

.eyeIcon{
  text-align: end;
  margin-top: -24px;
  margin-bottom: 5px;

}


@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
}
