<div class="section mb-3" *ngIf="product">
  <div class="row">
    <div class="col-md-6 mt-3">
        <button class="wishlist-button" (click)="toggleWishlist()">
          <i [class]="isInWishlist ? 'fas fa-heart' : 'far fa-heart'"></i>
        </button>
      <img src="{{product.images}}" alt="{{product.name}}" class="product-img">
      <div class="action-button mt-5">
        <ul class="row m-0 p-0">
          <li class="w-50" routerLink="/checkout/{{product.id}}" >
            <button class="buy-now action">
              Buy Now
            </button>
          </li>
          <li *ngIf="!existInCart" class="w-50" (click)="addToCart()" >
            <button class="buy-now action" style="background-color: #fb641b;">
              Add to cart
            </button>
          </li>
          <li *ngIf="existInCart" routerLink="/cart"  class="w-50">
            <button class="buy-now action" style="background-color: #fb641b;">
              Go to cart
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div style="text-align: left;">
        <div class="col-md-12">
          <h4 class="title text-dark">
            {{product.title}}
          </h4>
          <div class="d-flex flex-row ">
            <span class="text-succes ms-2">Special Price</span>
          </div>

          <div class="price">
            <div class="selling-price">
              {{ product.price | currency : "INR" : 'symbol' : "2.0" }}
            </div>
            <div class="actual-price">
              {{ product.MRP | currency : "INR" : 'symbol': "2.0" }}
            </div>
            <div class="discount">
              {{
              100 - (product.price / product.MRP) * 100
              | number : "1.0-2"
              }}% off
            </div>
          </div>
          <div class="row m-0 p-0">
            <div class="delivery mx-1">
              <div class="delivery-content">Free delivery</div>
            </div>
            <div class="available mx-1" *ngIf="product.availability < 19 && product.availability >= 10">
              Only few left
            </div>
            <div class="available mx-1" *ngIf="product.availability < 10 && product.availability > 0">
              Only {{ product.availability }} left
            </div>
            <div class="available mx-1" *ngIf="product.availability <= 0">
              Out of stock
            </div>
            <div class="offer-text mx-1">bank offer</div>
          </div>
          <div class="mb-3 mt-1">
            <span style="position: relative">
              <div class="rating" [ngClass]="
                  product.rating > 3
                    ? 'rating-background-green'
                    : product.rating > 1
                    ? 'rating-background-yellow'
                    : 'rating-background-red'
                ">
                {{ product.rating }}
                <img
                  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                  alt="*" style="height: 12px; vertical-align: top" />
              </div>
              <span style="padding-left: 8px; font-weight: 500; color: #878787">
                {{ product.reviews.length }} ratings & reviews
              </span>
            </span>
          </div>

          <p>
            {{product.description}}
          </p>
          <div class="my-3"><span style="font-weight: bold;">
              Specifications :-
            </span>
          </div>
          <div class="row" *ngFor="let specification of product.specifications.slice(0,5) ">
            <dd class="col-3">{{specification.name}}</dd>
            <dd class="col-9">{{specification.value}}</dd>
          </div>


          <div (click)="viewMoreDetails()" class="view-all-details" style="text-align: center;" *ngIf="!viewMore">
            <hr />
            <a>View all details </a>
            <hr>
          </div>
          <div class="more-details" *ngIf="viewMore">
            <div class="row" *ngFor="let specification of product.specifications.slice(5) ">
              <dd class="col-3">{{specification.name}}</dd>
              <dd class="col-9">{{specification.value}}</dd>
            </div>

            <div class="my-3">
              <p> <span style="font-weight: bold;">
                  Brand :-
                </span> {{product.brand}}</p>
            </div>
            <div class="my-3">
              <p> <span style="font-weight: bold;">
                  Additional Information :-
                </span> {{product.additionalInfo}}</p>

            </div>
            <div *ngIf="product.variants.length >0">
              <p style="font-weight: bold;">Variants :-</p>
              <table class="table table-bordered">
                <thead>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Available</th>
                </thead>
                <tbody>
                  <tr *ngFor="let variants of product.variants ">
                    <td>
                      {{variants.title}}
                    </td>
                    <td>
                      {{variants.price | currency : "INR" : 'symbol': "2.0"}}
                    </td>
                    <td *ngIf="variants.availability >0">
                      {{"Yes"}}
                    </td>
                    <td *ngIf="!(variants.availability >0)">
                      {{"No"}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div (click)="viewMoreDetails()" class="view-all-details" style="text-align: center;" *ngIf="viewMore">
              <hr />
              <a>View Less </a>
              <hr>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <br>
</div>


<div class="section mb-3" *ngIf="product">
  <div class="reviews-section">
    <div class="row m-0 p-0 w-100" style="text-align: center;">
      <div style="width: 33.33%; ">
        <div class="rating-headline">
          Rating and reviews
        </div>
      </div>
      <div style="width: 33.33%; ">
        <div class="rating-count">
          <span style="position: relative">
            <div class="rating total-rating" [ngClass]="
            product.rating > 3
              ? 'rating-background-green'
              : product.rating > 1
              ? 'rating-background-yellow'
              : 'rating-background-red'
          ">
              {{ product.rating }}
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                alt="*" class="rating-star" />
            </div>
            <p class="rating-review-count">
              {{ product.reviews.length }} ratings & reviews
            </p>
          </span>
        </div>
      </div>
      <div style="width: 33.33%;overflow:hidden; ">
        <div class="sorting-functions">
          <select class="form-select" aria-label="Default select example">
            <option selected>Sort Reviews </option>
            <option value="1">Recent</option>
            <option value="2">Most Positive First</option>
            <option value="3">Most Negative First</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="product.reviews.length >0">
      <div class="row mx-0 p-0 w-100 my-3" *ngFor="let review of product.reviews.slice(0,5)">
        <div class="col-md-12">
          <hr>
        </div>
        <div style="width: 20%;">
          <span style="position: relative">
            <div class="rating total-rating" [ngClass]="
            review.rating > 3.5
              ? 'rating-background-green'
              : review.rating >= 2
              ? 'rating-background-yellow'
              : 'rating-background-red'
          ">
              {{ review.rating }}
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                alt="*" class="rating-star" />
            </div>
          </span>
        </div>
        <div style="width: 60%;">
          <div class="comment pl-1">
            {{review.comment}}
          </div>
        </div>
        <div style="width: 20%; font-weight:300">
          <div class="username">
            {{review.user_name}}
          </div>
        </div>

      </div>
      <div (click)="viewAllComment()" class="view-all-details" *ngIf="!viewAllComments && product.reviews.length >5">
        <hr>
        <a>View More </a>
        <hr>
      </div>

      <!-- all comments -->
      <div *ngIf="viewAllComments">
        <div class="row mx-0 p-0 w-100 my-3" *ngFor="let review of product.reviews.slice(5,15)">
          <div class="col-md-12">
            <hr>
          </div>
          <div style="width: 20%;">
            <span style="position: relative">
              <div class="rating total-rating" [ngClass]="
            review.rating > 3.5
              ? 'rating-background-green'
              : review.rating >= 2
              ? 'rating-background-yellow'
              : 'rating-background-red'
          ">
                {{ review.rating }}
                <img
                  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                  alt="*" class="rating-star" />
              </div>
            </span>
          </div>
          <div style="width: 60%;">
            <div class="comment pl-1">
              {{review.comment}}
            </div>
          </div>
          <div style="width: 20%; font-weight:300">
            <div class="username">
              {{review.user_name}}
            </div>
          </div>
        </div>

      </div>
      <div (click)="viewAllComment()" class="view-all-details" *ngIf="viewAllComments">
        <hr>
        <a>View Less </a>
        <hr>
      </div>
    </div>
  </div>
</div>

<!-- Related products -->
<div class="section mb-3" *ngIf="relatedProducts">
  <div class="heading py-2" style="color:crimson">
    <p>You might be interested in
    <p>
  </div>
  <div class="row p-1 justify-content-center">
    <div class="col-md-2 related-product-card m-2" *ngFor="let related of relatedProducts">
      <a (click)="viewProduct(related.category_id,related.id)">
        <div class="py-3">
          <img class="related-product-img" src="{{related.images}}" alt="img">
          <h4 class="related-product-headline pt-3">
            {{related.title}}
          </h4>
          <div class="related-product-rating">
            <div class="rating" [ngClass]="
                  related.rating > 3
                    ? 'rating-background-green'
                    : related.rating > 1
                    ? 'rating-background-yellow'
                    : 'rating-background-red'
                ">
              {{ related.rating }}
              <img
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                alt="*" style="height: 12px; vertical-align: top" />
            </div>
            <div class="discount">
              {{
              100 - (related.price / related.MRP) * 100
              | number : "1.0-2"
              }}% off
            </div>
          </div>
          <div class="related-product-price">
            {{ related.price | currency : "INR" : 'symbol' : "2.0" }}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
