<section class="gradient-custom ">
  <div class="container py-2">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Sign Up</h3>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" type="text" matInput placeholder="Ex. Satish Jadhav" name="name"
                      required>
                  </mat-form-field>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="text" matInput placeholder="Ex. user@gmail.com" name="email"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input  formControlName="password" type="password" minlength="4" matInput  name="password"   required>
                    <!-- [type]="hide ? 'password' : 'text'" -->
                    <!-- <ion-icon style="font-size: 20px; font-weight: bold;" matSuffix (click)="hide = !hide" *ngIf="!hide" name="eye-outline"></ion-icon>
                    <ion-icon style="font-size: 20px; font-weight: bold;"matSuffix (click)="hide = !hide" *ngIf="hide" name="eye-off-outline"></ion-icon> -->
                </mat-form-field>

                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input  formControlName="confirmPassword" type="password" minlength="4" matInput  name="password"   required>
                    <!-- [type]="hide ? 'password' : 'text'" -->
                    <!-- <ion-icon style="font-size: 20px; font-weight: bold;" matSuffix (click)="hide = !hide" *ngIf="!hide" name="eye-outline"></ion-icon>
                    <ion-icon style="font-size: 20px; font-weight: bold;"matSuffix (click)="hide = !hide" *ngIf="hide" name="eye-off-outline"></ion-icon> -->
                </mat-form-field>
                  <!-- <div class="form-outline">
                    <input formControlName="confirmPassword" type="password" class="form-control form-control-lg"
                      placeholder="Confirm Password" minlength="4" />
                  </div>
                  <span
                    *ngIf="!signUpForm.controls['confirmPassword'].valid && signUpForm.controls['confirmPassword'].touched"
                    class="error px-1">Password and Confirm Password must be match.</span> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input [disabled]="!signUpForm.valid" [ngClass]="!signUpForm.valid?'grayButton':'crimsonButton'"
                    class="btn btn-primary form-control form-control-lg" type="submit" value="Create Account" />
                </div>
                <div class="col-md-6 login ">
                  <a routerLink="/user/login" style="color: black;">Alredy have an account <span
                      style="color: blue;">Login Here</span> </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
