.product-section{
  justify-content: space-evenly;
}

.product{
  margin: 20px 5px;
  border: 1px solid grey;
  padding: 25px;
  border-radius: 4px;
  /* background-color: rgb(240, 234, 227); */
  transition: transform .2s;
}

.product:hover{
  transform: scale(1.03);
  cursor: pointer;
}

.product-img
{
  width: 100%;
  height: 17rem;
  object-fit: contain;
}

.product-title{
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px;
}

.price-rating{
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.rating-background-green {
  background-color: #388e3c !important;
}

.rating-background-red {
  background-color: #ff6161 !important;
}

.rating-background-yellow {
  background-color: #ff9f00 !important;
}

.rating {
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  vertical-align: baseline;
}

.rating>img{
  vertical-align: baseline;
}

.price{
  font-weight: 500 ;
}

@media only screen and (max-width:1000px)
{
  .product
  {
    width: 47%;
  }

  .product-img
  {
    height: 7rem;
  }
  .product-title
  {
    font-size: 14px;
  }
  .rating
  {
    font-size: 14px;
  }
}
